<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!--Insert Connection string below if you need a guide open the notemain codes-->
    <add name="NotesDB" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>